<a href="https://colab.research.google.com/github/diegovalensuela/datascience/blob/master/Classifica%C3%A7%C3%A3o_de_Vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# carregando o conjunto de dados
import pandas as pd
arquivo = pd.read_csv('https://raw.githubusercontent.com/diegovalensuela/datascience/master/Datasets/wine-dataset/wine_dataset.csv')

In [3]:
# visualizar dataset
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [0]:
# reclassificando a coluna style para int
arquivo['style'] = arquivo['style'].replace('red', 0)

In [0]:
# reclassificando a coluna style para int
arquivo['style'] = arquivo['style'].replace('white', 1)

In [0]:
# separando as váriaveis entre preditoras e variável alvo
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [0]:
from sklearn.model_selection import train_test_split

# criando os conjuntos de dados de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [8]:
from sklearn.ensemble import ExtraTreesClassifier

# criação do modelo
modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino, y_treino)

# imprimindo resultados
resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado)

ERROR! Session/line number was not unique in database. History logging moved to new session 59
Acurácia: 0.9958974358974358

In [9]:
y_teste[400:403]

3269    1
6008    1
1828    1
Name: style, dtype: int64

In [10]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
3269            7.8              0.24         0.18  ...       0.56      9.8        6
6008            6.3              0.29         0.29  ...       0.36     12.8        7
1828            7.1              0.24         0.41  ...       0.39      8.7        5

[3 rows x 12 columns]

In [0]:
previsoes = modelo.predict(x_teste[400:403])

In [12]:
previsoes

array([1, 1, 1])